node_modules/
npm-debug.log
*~
._*
*.bak
.DS_Store
.AppleDouble
.LSOverride
Icon
.Trashes
public/javascripts/vendors/
*.gem
*.rbc
.bundle
.config
coverage
pkg
rdoc
lib/bundler/man
spec/reports
test/tmp
test/version_tmp
tmp
InstalledFiles
.yardoc
_yardoc
doc/
docs/

*.[ao]

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

